
  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #5a125a;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

 .footer p{
   padding-bottom: 4px;
   font-size: 13px
 }