
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Asispre Logo"
    src="../assets/MundoAsispre.png"
  />
  <span><h4>Bienvenido</h4></span>
    <div class="spacer"></div>
 
      <img
      width="40"
      alt="Asispre Logo"
      src="../assets/LogoGF.png"
    />
 </div>
<router-outlet></router-outlet>

<div class="footer navbar-fixed-bottom">
  <hr>
  <p aling=center class="card-subtitle text-center">Grupo Flores © {{anio_actual}} </p>
  <p aling=center class="card-subtitle text-center">Departamento de Sistemas</p>
  <p aling=center class="card-subtitle text-center">sistema@asispre.com</p>
  
</div>