<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row text-center">
                <div class="col-12">
                    <span>
                        <img
                            alt="Asispre Logo"
                            src="../../../assets/logo_asispre.png"
                        />
                    </span>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <h4>Validación de Bonos de Descuento</h4>
                    <hr>
                </div>
            </div>
            <div *ngIf="bono == null">
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6">
                        <label for="txtNroOrden">N&uacute;mero de Orden</label>
                        <input type="number" class="form-control" id="txtNroOrden" [value]="nro_orden" (input)="nro_orden = $event.target.value"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6">
                        <button type="button" class="btn btn-block btn-success" (click)="verificarUsoBono()">Verificar</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" *ngIf="bono != null">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            Detalle del Bono
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <p><strong>Número de Afiliado</strong></p>
                                    <p>{{bono.nro_afiliado}}</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <p><strong>Apellido y Nombre</strong></p>
                                    <p>{{bono.nombre_afiliado}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <p><strong>Fecha de Emisión</strong></p>
                                    <p>{{bono.fecha_emision | date:'dd/MM/yyyy'}}</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <p><strong>Fecha de Vencimiento</strong></p>
                                    <p>{{bono.vencimiento | date:'dd/MM/yyyy'}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p [ngClass]="{'mensajeOk': bono.vencida==false && bono.usada==false, 'mensajeRechazada': bono.vencida==true || bono.usada==true }">
                                        {{bono.mensaje}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div [ngClass]="{'col-6': bono.vencida==false && bono.usada==false, 'col-12': bono.vencida==true  || bono.usada==true }">
                                    <button class="btn btn-block btn-outline-dark" (click)="volver()">Volver</button>
                                </div>
                                <div class="col-6" *ngIf="bono.vencida==false  && bono.usada==false">
                                    <button class="btn btn-block btn-success" (click)="guardarUsoBono()">Usar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>